

.contact {
    display: none;

    @media screen and (min-width:768px){
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;


        // align-items: center;
        // margin-left: auto;
        // margin-bottom: 10px;

        // & .contact__item+.contact__item {
        //     // margin-left: 40px;
        //     margin-bottom: 10px;
        // }

    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        gap: 30px;

    }

}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}


.contact__link {
    display: flex;
    align-items: center;

    // padding-top: 32px;
    // padding-bottom: 32px;

   
    // margin-bottom: 10px;
   

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

