.filters {
    display: flex;
    flex-wrap: wrap;

    gap: 15px 8px;
    
 
    // margin-bottom: 50px;
    margin-bottom: 40px;



    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
   
    }
    // &__item+&__item {
    //     margin-left: 8px;
    // }


}

