.header {
    border-bottom: 1px solid #ECECEC;
    &__container {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding-top: 0;
            padding-bottom: 0;
                    
        }

        
    }

   
}

