.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--anim), opacity var(--anim);

    &__descr {
        font-size: 18px;
        line-height: 1.56;

        color: var(--secondary-text-color);
    }
}

